* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: rgba(52, 53, 58, 0.879);
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-header {
    background: linear-gradient(to right, rgb(115, 41, 225), rgb(199, 151, 212));
    padding-bottom: 10px;
}

.main-header .app-name {
    font-size: 4em;
}

.main-nav {
    border-bottom: 1px solid whitesmoke;
}

.main-nav ul {
    margin: 0;
    padding: 10px;
}

.main-nav a {
    color: rgba(245, 245, 245, .7);
    text-decoration: none;
    font-size: 1.3em;
}

.main-nav a:hover {
    background-color: rgba(92, 72, 97, 0.2);
}

.content-section {
    margin: 10px;
}

.flash-message {
    color: rgba(206, 40, 40, .6);
    font-size: 2em;
}

.container {
    margin: 20px;
    border: 2px solid rgb(199, 151, 212);
    padding: 30px;
}

.section-header {
    margin: 5px;
    padding: 10px;
    font-size: 1.8em;
    color: rgba(43, 9, 75, 0.879);
}

.restaurant-row {
    margin: auto;
    padding: 1em;
    border-bottom: 1px solid rgb(115, 41, 225);
    max-width: 60%;
}

.restaurant-item {
    display: inline-block;
    text-align: left;
    padding-right: 1em;
}

.restaurant-name {
    font-size: 1.2em;
    width: 40%;
}

.restaurant-address {
    font-size: 0.8em;
    width: 40%;
}

.main-footer {
    background: linear-gradient(to right, rgb(115, 41, 225), rgb(199, 151, 212));
    text-align: left;
}

.main-footer .app-name {
    font-size: 1.5em;
}

.app-name {
    color: whitesmoke;
    padding: 20px;
    margin: 0;
}