{% extends "index.html" %}

{% block content %}
<section class="container">
    <h2 class="section-header">About</h2>
    <p>
        This webapp returns a list of restaurants in Germany based on the postal code you enter.
    </p>
</section>
<section class="container">
    <h2 class="section-header">Enter Your Postal Code</h2>
    <form method="POST">
        <label for="postal_code">Postal Code</label>
        <input name="postal_code" id="postal_code" required>
        <input type="submit" value="Submit">
    </form>
</section>
{% endblock %}