<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Resto</title>

</head>

<body>
    <header class="main-header">
        <nav class="main-nav">
            <ul>
                <a href="{{ url_for('resto.index') }}">HOME</a>
            </ul>
        </nav>
        <h1 class="app-name">Resto App</h1>
    </header>
    <section class="content-section">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="flash-message">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
    <section class="content-section">
        {% block content %}{% endblock %}
    </section>
    <footer class="main-footer">
        <h3 class="app-name">Resto App</h3>
    </footer>
</body>

</html>