{% extends "index.html" %}

{% block content %}
<div>
    This webapp returns a list of restaurants in Germany based on the postal code you enter.
</div>
<h2>Enter your postal code</h2>
<div>
    10746
</div>
<h2>Suggested Restaurants</h2>
<div class="restaurants">
    <div class="restaurant">
        <span>Malafemmena</span>
        <span>Hauptstrase 85</span>
    </div>
    <br>
    <div class="restaurant">
        <span>Malafemmena</span>
        <span>Hauptstrase 85</span>
    </div>
</div>
{% endblock %}